:root{
    --vidW: 100vw;
    --vidH: 100vh;

    --translateX: 10vw;
    --translateY: 2vh;
    --scale: 2.5;
}

body{
  padding: 0;
	margin: 0;
  z-index: 10;
  background-color: transparent;
  /* height: 100vh; */
  /* background-position: center;
  background-repeat: none;
  background-attachment: scroll; */
}

/* canvas{
    padding: 0;
    margin: 0;
    border:0;
    left:0;
    top:0;
    position: center fixed;
  } */

.bgVid{
  padding: 0;
  margin: 0;
  border:0;
  /* left:0;
  top:0; */
  width: var(--vidW);
  height: var(--vidH);
  z-index: -1;
  position: center fixed;
}





.clippedVid {
    -webkit-clip-path: url(#textClip);
    clip-path: url(#textClip);
    padding:0;
    left:0;
    top:0;
    width: var(--vidW);
    position: fixed;
    z-index: 1;
  }

svg{
    font-family: monospace;
    opacity:0;
    position:fixed;
    z-index:2;
  }

.enlarge{ /* for scaling SVG path  */
  transform: scale(var(--scale)) translate(var(--translateX), var(--translateY));
  -ms-transform: scale(var(--scale)) translate(var(--translateX), var(--translateY));
  -webkit-transform: scale(var(--scale)) translate(var(--translateX), var(--translateY));
}

.showVisitorName{
  z-index: 99;
  position: fixed;
  color: white;
  font-size: 2vw;
  text-align: center center;
  width: 100vw;
  height: 100vh;
}

/* #urlbar-input {
  transition: transform .1s linear;
  transform: translateX(50%);
  top: 4px;
  position: absolute;
  width: 50%;
  text-align: center !important;
  } */
